body {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url("../Photos/agua cristalina .jpeg");
  background-position: center;
  background-size: cover;
  position: relative;
  margin: 0;
  padding: 0;
}
body header {
  padding: 10px;
}
body li {
  list-style: none;
}
body a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
}
body a:hover {
  color: turquoise;
}
body h1 {
  font-family: "poppins", sans-serif;
  font-weight: 600;
  color: white;
  margin-bottom: 20px;
  margin-top: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}
body p {
  font-family: "poppins", sans-serif;
  font-size: 17px;
  color: white;
  text-align: justify;
  line-height: 1.8;
  padding: 40px;
}

footer {
  padding: 20px 0px;
  font-family: "Poppins", sans-serif;
  width: 100%;
  height: 2.5rem;
  position: relative;
  bottom: 0;
  align-items: center;
  display: flex;
  justify-content: center;
}
footer .footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  position: relative;
  padding: 0 2rem;
  margin-left: 1px;
}
header .navbar {
  width: 100%;
  height: 60px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}
header .logo a {
  font-size: 1.5rem;
  font-weight: bold;
  margin-left: 1px;
}
header .links {
  display: flex;
  gap: 2rem;
  font-family: "poppins", sans-serif;
  font-size: 13px;
  flex-wrap: wrap;
}
header .toggle_btn {
  color: turquoise;
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}
@media (max-width: 576px) {
  header .dropdown_menu {
    left: 2rem;
    width: unset;
  }
  header .navbar {
    display: flex;
    flex-direction: column;
  }
}

.action_btn {
  background-color: turquoise;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  outline: none;
  border-radius: 20px;
  font-family: "poppins", sans-serif;
  font-size: 0.8rem;
  font-weight: bold;
  cursor: pointer;
  transition: scale 0.2 ease;
  width: 100px;
  display: flex;
  justify-content: center;
}
.action_btn:hover {
  scale: 1.05;
  color: white;
}
.action_btn:active {
  scale: 0.95;
}

.dropdown_menu {
  display: none;
  position: absolute;
  right: 2rem;
  top: 60px;
  height: 0;
  width: 300px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  overflow: hidden;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.dropdown_menu.open {
  height: 240px;
}
.dropdown_menu li {
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  min-height: 100vh;
}
.container p {
  font-family: "poppins", sans-serif;
  font-size: 17px;
  color: white;
  text-align: justify;
  line-height: 1.8;
  padding: 0px 21px;
}
.container h1 {
  font-family: "poppins", sans-serif;
  font-weight: 500;
  color: white;
  margin-bottom: 20px;
  margin-top: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.row {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 20px;
}
.row .column {
  display: flex;
  flex-direction: column;
}
.row .left {
  padding: 20px;
}
.row .right {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.row .right .right-box {
  flex: 1;
  padding: 20px;
}

.gallery ul {
  display: flex;
  flex-flow: row wrap;
  list-style: none;
  margin: 32px 0;
}
.gallery ul li {
  margin: 0 10px;
  flex-basis: calc(50% - 20px);
}
.gallery ul li img {
  width: 100%;
  height: auto;
}
.gallery ul li p {
  padding: 5%;
  text-align: center;
  font-weight: 600;
  font-family: "poppins", sans-serif;
}

.container-form {
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
}

.contact-form {
  margin: 10px auto;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  font-family: "poppins", sans-serif;
  width: 50%;
  height: 25%;
}
.contact-form button {
  background-color: salmon;
  color: black;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.contact-form button:hover {
  background-color: #FF6F61;
}

.submit-form {
  display: flex;
  flex-direction: column;
}
.submit-form label {
  display: block;
  margin-bottom: 5px;
}
.submit-form input,
.submit-form textarea {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

.form-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  gap: 10px;
  flex-direction: row;
}

.form-group {
  flex: 1;
  margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
  .row {
    grid-template-columns: 1fr;
  }
  .right {
    flex-direction: row;
  }
  .right .right-box {
    flex: 1;
  }
}
@media screen and (min-width: 768px) {
  .container {
    grid-template-columns: 35% 65%;
  }
  .left-column {
    order: 1;
  }
  .right-column {
    order: 2;
  }
}
@media (max-width: 576px) {
  .contact-form {
    height: 70%;
  }
}

/*# sourceMappingURL=style.css.map */
